apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default (include "cube-backend.fullname" .) }}
  labels:
    {{- include "cube-backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cube-backend.selectorLabels" . | nindent 4 }}
